
.siteContent{
  display: flex;
  /* NASZ EKRAN */
  .projectContainer{
    display: flex;
    align-items: center;
    margin: 30px;
    justify-content: space-around;
  }
  /* PANEL BUTTONOWY */
.buttonPanel{
  display: flex;
  flex-direction: column;
  justify-content: center;
 

.projectButton a{
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  background-color: #d1c2b786;
  border-style: solid;
  border-color: #5e2f10b7;
  border-radius: 5px;
  box-shadow: 3px;
  font-weight: bold;
  color: #5e2f10b7;
  width: 160px;
  height: 60px;
  margin: 40px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.6s;
  &:hover{
    color: #ffffff;
    background-color: #5e2f10b7;
    font-size: 22px;
    font-weight: bolder;
    transition: 0.9s;
  }
  &::before {
    content: "";
    width: 50px;
    height: 100%;
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    top:0;
    left: -90px;
    transform: skewX(-45deg) translateX(0px);
  }
  &:hover::before {
    transform: skewX(-45deg) translateX(500px);
    transition: all 1.8s;
  }
}
}
}




