$redHead: red;
$bodyComplex: gray;
// animation theme
$sand: rgb(241, 203, 98);

@mixin eye {
	width: 10px;
	height: 10px;
	background: black;
	border-radius: 50%;
}
// ORBITA ANIMACJE
@keyframes orbit {
	0% {
		transform: rotate(0deg);
	}
	// 25% {
	// 	transform: rotate(90deg);
	// }
	// 50% {
	// 	transform: rotate(180deg);
	// }
	// 75% {
	// 	transform: rotate(270deg);
	// }
	100% {
		transform: rotate(360deg);
	}
}

// GŁOWA ANIMACJE
@keyframes wink {
	from {
		@include eye;
	}
	to {
		margin-top: 5px;
		height: 0;
	}
}
@keyframes oh {
	from {
		height: 20px;
	}
	to {
		height: 0;
	}
}
// RĘCE ANIMACJA
@keyframes wave {
	0% {
		transform: rotate(0deg);
	}
	20% {
		transform: rotate(160deg);
	}
	40% {
		transform: rotate(120deg);
	}
	60% {
		transform: rotate(160deg);
	}
	80% {
		transform: rotate(120deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
// NOGI ANIMACJA
@keyframes step {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(45deg);
	}
}

.animationContainer {
	display: flex;
	width: 500px;
	height: 400px;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.623);
	border-style: solid;
	border-color: rgba(94, 47, 16, 0.718);
	border-radius: 5px;
	box-shadow: 3px;
	.animatedBackground {
		position: absolute;
		display: flex;
		flex-direction: column;
		width: 500px;
		height: 400px;
		.sky {
			width: 100%;
			height: 50%;
			background: cyan;
			z-index: 1;
			overflow: hidden;

			.dayAndNight {
				position: relative;
				bottom: 50px;
				right: -100px;
				width: 500px;
				height: 200px;
				// border: solid black;
				border-radius: 50%;
				animation: orbit 18s linear infinite;
				z-index: 0;

				.sun {
					position: absolute;
					top: 0;
					width: 40px;
					height: 40px;
					background: yellow;
					border: solid 2px red;
					border-radius: 50%;
					overflow: hidden;
				}

				.moon {
					position: absolute;
					bottom: 0;
					right: 0;
					width: 40px;
					height: 40px;
					background: grey;
					border: solid 2px black;
					border-radius: 50%;
				}
			}
		}

		.ocean {
			display: flex;
			width: 100%;
			height: 50%;
			background: blue;
			z-index: 1;
			.beach {
				display: flex;
				width: 100%;
				height: 100%;
				background: $sand;

				border-radius: 90% 0 0;
			}
		}
	}
	.stickmanContainer {
		z-index: 3;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		// background style
		//
		width: 100%;
		height: 100%;
		margin: 0;

		.textCloud {
			align-self: center;
			width: fit-content;
			padding: 1rem;
			background: white;
			border: solid 2px black;
			border-radius: 30px 30px 30px 0;
		}

		.stickmanBody {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 20px;
			// background: gray;
			width: fit-content;
			&:hover {
			}

			// HEAD
			.stickHead {
				display: flex;
				flex-direction: column;
				background: $bodyComplex;
				width: 80px;
				height: 80px;
				border: solid 1px;
				border-radius: 50%;
				&:hover {
					background-color: $redHead;
					cursor: pointer;
				}

				.eyeAxis {
					margin-top: 20px;
					display: flex;
					flex-direction: row;
					justify-content: space-evenly;
					height: 10px;

					.lEye {
						@include eye;
						animation-name: wink;
						animation-duration: 1s;
					}
					.rEye {
						@include eye;
						animation-name: wink;
						animation-duration: 1s;
					}
				}
				.smileOh {
					display: flex;
					align-self: center;
					margin-top: 20px;
					width: 30px;
					height: 20px;
					background-color: black;
					border: 50% 50%;
				}
				.smile {
					display: flex;
					align-self: center;
					margin-top: 20px;
					width: 30px;
					height: 20px;
					background-color: black;
					border-bottom-right-radius: 30px;
					border-bottom-left-radius: 30px;
					animation-name: oh;
					animation-duration: 1s;
				}
			}
			// HEAD
			// TORSO
			.torsoContainer {
				display: flex;
				flex-direction: row;

				.lArm {
					display: flex;
					background: $bodyComplex;
					width: 20px;
					height: 80px;
					border: solid 1px;
					transform-origin: top right;
					animation-name: wave;
					animation-duration: 3s;
				}

				.torso {
					display: flex;
					background: $bodyComplex;
					flex-direction: column;
					width: 80px;
					height: 80px;
					border: solid 1px;
				}
				.rArm {
					display: flex;
					background: $bodyComplex;
					width: 20px;
					height: 80px;
					border: solid 1px;
				}
			}
			// TORSO
			// LEGS
			.legContainer {
				display: flex;
				flex-direction: row;
				justify-content: space-around;

				.lLeg {
					display: flex;
					background: $bodyComplex;
					width: 20px;
					height: 80px;
					border: solid 1px;
					transform-origin: top right;
					animation-name: step;
					animation-duration: 1.5s;
				}
				.rLeg {
					display: flex;
					background: $bodyComplex;
					width: 20px;
					height: 80px;
					border: solid 1px;
				}
			}

			// LEGS
		}
	}
}
