@-webkit-keyframes orbit {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes orbit {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes timeOfDay {
  0% {
    background-image: url(/src/img/day.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  25% {
    background-image: url(/src/img/dawn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background-image: url(/src/img/night.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  75% {
    background-image: url(/src/img/latenight.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background-image: url(/src/img/day.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@keyframes timeOfDay {
  0% {
    background-image: url(/src/img/day.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  25% {
    background-image: url(/src/img/dawn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background-image: url(/src/img/night.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  75% {
    background-image: url(/src/img/latenight.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background-image: url(/src/img/day.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@-webkit-keyframes oceanWave {
  0%,
  100% {
    background: #0a2291;
    -webkit-clip-path: polygon(0% 41%, 13% 51%, 27% 56%, 44% 52%, 56% 45%, 69% 43%, 88% 41%, 100% 50%, 100% 100%, 0 100%);
            clip-path: polygon(0% 41%, 13% 51%, 27% 56%, 44% 52%, 56% 45%, 69% 43%, 88% 41%, 100% 50%, 100% 100%, 0 100%);
  }
  50% {
    background: #1f3bb6;
    -webkit-clip-path: polygon(0% 41%, 20% 37%, 36% 40%, 46% 43%, 59% 57%, 72% 58%, 84% 55%, 100% 51%, 100% 100%, 0 100%);
            clip-path: polygon(0% 41%, 20% 37%, 36% 40%, 46% 43%, 59% 57%, 72% 58%, 84% 55%, 100% 51%, 100% 100%, 0 100%);
  }
}

@keyframes oceanWave {
  0%,
  100% {
    background: #0a2291;
    -webkit-clip-path: polygon(0% 41%, 13% 51%, 27% 56%, 44% 52%, 56% 45%, 69% 43%, 88% 41%, 100% 50%, 100% 100%, 0 100%);
            clip-path: polygon(0% 41%, 13% 51%, 27% 56%, 44% 52%, 56% 45%, 69% 43%, 88% 41%, 100% 50%, 100% 100%, 0 100%);
  }
  50% {
    background: #1f3bb6;
    -webkit-clip-path: polygon(0% 41%, 20% 37%, 36% 40%, 46% 43%, 59% 57%, 72% 58%, 84% 55%, 100% 51%, 100% 100%, 0 100%);
            clip-path: polygon(0% 41%, 20% 37%, 36% 40%, 46% 43%, 59% 57%, 72% 58%, 84% 55%, 100% 51%, 100% 100%, 0 100%);
  }
}

@-webkit-keyframes sunshine {
  0% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes sunshine {
  0% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@-webkit-keyframes wink {
  from {
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
  }
  to {
    margin-top: 5px;
    height: 0;
  }
}

@keyframes wink {
  from {
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
  }
  to {
    margin-top: 5px;
    height: 0;
  }
}

@-webkit-keyframes oh {
  from {
    height: 20px;
  }
  to {
    height: 0;
  }
}

@keyframes oh {
  from {
    height: 20px;
  }
  to {
    height: 0;
  }
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(160deg);
            transform: rotate(160deg);
  }
  40% {
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
  }
  60% {
    -webkit-transform: rotate(160deg);
            transform: rotate(160deg);
  }
  80% {
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(160deg);
            transform: rotate(160deg);
  }
  40% {
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
  }
  60% {
    -webkit-transform: rotate(160deg);
            transform: rotate(160deg);
  }
  80% {
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes step {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes step {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.animationContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  height: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.623);
  border-style: solid;
  border-color: rgba(94, 47, 16, 0.718);
  border-radius: 5px;
  -webkit-box-shadow: 3px;
          box-shadow: 3px;
}

.animationContainer .animatedBackground {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  height: 400px;
}

.animationContainer .animatedBackground .sky {
  width: 100%;
  height: 50%;
  z-index: 1;
  overflow: hidden;
  -webkit-animation: timeOfDay 40s linear infinite;
          animation: timeOfDay 40s linear infinite;
}

.animationContainer .animatedBackground .sky .dayAndNight {
  position: relative;
  bottom: 50px;
  top: 50px;
  right: -100px;
  width: 500px;
  height: 200px;
  border-radius: 50%;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  -webkit-animation: orbit 40s linear infinite;
          animation: orbit 40s linear infinite;
  z-index: 3;
}

.animationContainer .animatedBackground .sky .dayAndNight .sun {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  background: yellow;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 10px rgba(184, 184, 21, 0.671), 0 0 5px 15px rgba(165, 165, 22, 0.507), 0 0 10px 20px rgba(184, 184, 21, 0.473);
          box-shadow: 0 0 0 10px rgba(184, 184, 21, 0.671), 0 0 5px 15px rgba(165, 165, 22, 0.507), 0 0 10px 20px rgba(184, 184, 21, 0.473);
  z-index: 2;
  -webkit-animation: sunshine 3s linear infinite;
          animation: sunshine 3s linear infinite;
}

.animationContainer .animatedBackground .sky .dayAndNight .moon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background: grey;
  border: solid 2px black;
  border-radius: 50%;
}

.animationContainer .animatedBackground .ocean {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50%;
  background: #1939ca;
  z-index: 1;
}

.animationContainer .animatedBackground .ocean .wave1 {
  position: relative;
  -webkit-transform: translate(0px, -80px);
          transform: translate(0px, -80px);
  height: 200px;
  width: 100%;
  -webkit-animation: oceanWave 8s linear infinite;
          animation: oceanWave 8s linear infinite;
}

.animationContainer .animatedBackground .ocean .wave1 .wave2 {
  position: relative;
  -webkit-transform: translate(0px, -70px);
          transform: translate(0px, -70px);
  height: 100%;
  width: 100%;
  -webkit-animation: oceanWave 12s linear infinite;
          animation: oceanWave 12s linear infinite;
}

.animationContainer .animatedBackground .ocean .wave1 .wave2 .wave3 {
  position: relative;
  -webkit-transform: translate(0px, -60px);
          transform: translate(0px, -60px);
  height: 200px;
  width: 100%;
  -webkit-animation: oceanWave 16s linear infinite;
          animation: oceanWave 16s linear infinite;
}

.animationContainer .animatedBackground .ocean .beach {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 50%;
  border-radius: 90% 0 0;
  background: #e4af3e;
}

.animationContainer .animatedBackground .ocean .beach .sand {
  width: 100%;
  height: 100%;
  background: url(/src/img/sand.jpg);
  border-radius: 90% 0 0;
  opacity: 0.2;
}

.animationContainer .stickmanContainer {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

.animationContainer .stickmanContainer .textCloud {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  background: white;
  border: solid 2px black;
  border-radius: 30px 30px 30px 0;
}

.animationContainer .stickmanContainer .stickmanBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.animationContainer .stickmanContainer .stickmanBody .stickHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: gray;
  width: 80px;
  height: 80px;
  border: solid 1px;
  border-radius: 50%;
}

.animationContainer .stickmanContainer .stickmanBody .stickHead:hover {
  background-color: red;
  cursor: pointer;
}

.animationContainer .stickmanContainer .stickmanBody .stickHead .eyeAxis {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 10px;
}

.animationContainer .stickmanContainer .stickmanBody .stickHead .eyeAxis .lEye {
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
  -webkit-animation-name: wink;
          animation-name: wink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.animationContainer .stickmanContainer .stickmanBody .stickHead .eyeAxis .rEye {
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
  -webkit-animation-name: wink;
          animation-name: wink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.animationContainer .stickmanContainer .stickmanBody .stickHead .smileOh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 20px;
  width: 30px;
  height: 20px;
  background-color: black;
  border: 50% 50%;
}

.animationContainer .stickmanContainer .stickmanBody .stickHead .smile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 20px;
  width: 30px;
  height: 20px;
  background-color: black;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  -webkit-animation-name: oh;
          animation-name: oh;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.animationContainer .stickmanContainer .stickmanBody .torsoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.animationContainer .stickmanContainer .stickmanBody .torsoContainer .lArm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: gray;
  width: 20px;
  height: 80px;
  border: solid 1px;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-animation-name: wave;
          animation-name: wave;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.animationContainer .stickmanContainer .stickmanBody .torsoContainer .torso {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: gray;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80px;
  height: 80px;
  border: solid 1px;
}

.animationContainer .stickmanContainer .stickmanBody .torsoContainer .rArm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: gray;
  width: 20px;
  height: 80px;
  border: solid 1px;
}

.animationContainer .stickmanContainer .stickmanBody .legContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.animationContainer .stickmanContainer .stickmanBody .legContainer .lLeg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: gray;
  width: 20px;
  height: 80px;
  border: solid 1px;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-animation-name: step;
          animation-name: step;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.animationContainer .stickmanContainer .stickmanBody .legContainer .rLeg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: gray;
  width: 20px;
  height: 80px;
  border: solid 1px;
}
/*# sourceMappingURL=Stickman_gui.css.map */