.rpsShape {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 40% 30%;
      grid-template-columns: 30% 40% 30%;
  -ms-grid-rows: 30% 40% 30%;
      grid-template-rows: 30% 40% 30%;
  width: 500px;
  height: 400px;
  padding: 20px;
  background-color: #1221;
  border-style: solid;
  border-color: #5e2f10b7;
  border-radius: 5px;
  -webkit-box-shadow: 3px;
          box-shadow: 3px;
}

.rpsShape .Up {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.rpsShape .Up2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.rpsShape .Mid {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.rpsShape .Mid2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.rpsShape .Down {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.rpsShape .RedFrame {
  border-color: red;
  -webkit-box-shadow: gray 3px;
          box-shadow: gray 3px;
}

.rpsShape .rpsActionButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: solid;
  border-color: #5e2f10b7;
  border-radius: 5px;
  -webkit-box-shadow: 3px;
          box-shadow: 3px;
}

.rpsShape .rpsActionButton > img {
  width: 100px;
  height: 100px;
}

.rpsShape .scoreBoard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 60px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-flex-item-align: center;
      align-self: center;
}

.introShape {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  width: 500px;
  height: 400px;
  padding: 20px;
  background-color: #1221;
  border-style: solid;
  border-color: #5e2f10b7;
  border-radius: 5px;
  -webkit-box-shadow: 3px;
          box-shadow: 3px;
}

.introShape .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}
/*# sourceMappingURL=RPS_gui.css.map */