.calculatorShape{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 400px;
    height: 300px;
    justify-content: space-around;
    background-color: white;
    border-style: solid;
    border-color: #5e2f10b7;
    border-radius: 5px;
    box-shadow: 3px;
    .input-field{
        display: flex;
        align-self: center;
        align-items: center;
        width: 280px;
        height: 50px;
        background-color: grey;
        border-style: solid;
        border-color: #5e2f10b7;
        border-radius: 5px;
    }
    .buttonFields{
        display: flex;
        .arithmeticButtonContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        

        .common-button{
        width: 40px;
        height: 40px;
        background-color: rgba(62, 145, 80, 0.493);
        border-style: dashed;

            }
        }
        .numberButtonContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .common-button{
        width: 40px;
        height: 40px;
        background-color: rgba(62, 145, 80, 0.493);
        border-style: dashed;

            }
        }
    }
    .enter-button{
        display: flex;
        justify-content: center;
        align-self: center;
        font-size: 16px;
        background-color: white;
        border-style: solid;
        border-color: #5e2f10b7;
        border-radius: 5px;
        box-shadow: 3px;
        margin-top: 50px;
        width: 120px;
    }
    
}

