main {
  position: relative;
  background-color: rgb(252, 252, 252);
  // border-width: 3px;
  // border-color: rgba(235, 160, 32, 0.911);
  // border-radius: 5px;
  // border-style: solid;
  // box-shadow: 2px 1px rgba(199, 142, 44, 0.733);
  justify-content: center;
  max-width: 100%;
  min-height: 50rem;
  margin: 0 5em 0 5em;

  .logoContainer{
    display: flex;
    justify-content: center;
    background-color: #5e2f10b7;
  }

  /* FITTIN' TO MOBILES */
  @media screen and (max-width: 768px){
    .personal-container{
      flex-direction: column;
      .person{
        width: 100%;
      }
    }
  }
}


