

@mixin person-content($personCounter){
    flex: 1;
    padding: 6px;
    height: fit-content;
    @if $personCounter == two {
      z-index: 1;
    }
    .photo{
    .person-img{
      -webkit-mask-image:
      -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    // min-width: 120px;
    // max-width: 160px;
    width: 100px;
    height: auto;
    }
    width: 40%;
    }
  
    .personal-info{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    width: 40em;
    height: 100%;
    ul{
      width: 100%;
      margin-block-start: 0px;
      margin-block-end: 0px;
      padding-inline-start: 0px;
      ol{
        padding-inline-start: 0px;
        display: flex;
        justify-content: flex-end;
  
      }
    }
    img{
      max-width: 16px;
      max-height: 16px;
    }
    .stars{
      background-color:rgb(252, 252, 252);
    }
    }
  }
  
  %person-one{
    .person-one{
    // background-color: rgba(212, 157, 62, 0.637);
    display: flex;
    // margin: 0 0 10% 0;
    flex-direction: row-reverse;
    @include person-content(one);
  }
  }
  
  %person-two{
    .person-two{
    display: flex;
    // margin: 10% 0 0 0;
    // background-color: rgba(212, 157, 62, 0.637);
    @include person-content(two);
  }
  }
  
  @mixin personal-bar($personCounter) {
    %personal-bar{
      font-weight: bold;
      flex-direction: row;
      width: 100%;
      height: auto;
      }
    @if $personCounter == one {
      .personal-bar-one{
        @extend %personal-bar;
        margin: 0 0 1% 0;
        color: blue;
        text-align: end;
      }
      
    } @else if $personCounter == two {
      .personal-bar-two{
        @extend %personal-bar;
        margin: 1% 0 0 0;
      }
      
    }
    
  }
  
  .personal-container{
    display: grid;
    // border-radius: 3px 3px;
    align-content: space-around;
    grid-template-columns: 45% 45%;
    column-gap: 20px;
    grid-template-rows: auto;
    justify-content: space-around;
    justify-items: center;
    max-height: 100%;
    width: 100%;
    @extend %person-one;
    @include personal-bar(one);
    @include personal-bar(two);
    @extend %person-two;
    
    .person-one-container{
      background-color: white;
      border-style: solid;
      border-color: #5e2f10b7;
      border-radius: 5px;
      box-shadow: 3px;
      grid-column: 1/2;
      margin-top: 50px;
      width: 420px;
      // background-color: rgba(214, 163, 80, 0.747);
    }
    .person-two-container{
      background-color: #5e2f10b7;
      border-style: solid;
      border-color: #5e2f10b7;
      border-radius: 5px;
      box-shadow: 3px;
      border-radius: 5px;
      grid-column: 2/3;
      margin-top: 50px;
      width: 420px;
      // background-color: rgba(214, 163, 80, 0.747);
    }

  }