/* VARIABLES */
/* OBJECTS */
main .personal-container .person-one {
  background-color: rgba(212, 157, 62, 0.637);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 6px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

main .personal-container .person-one .photo {
  mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
  mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
  width: 40%;
}

main .personal-container .person-one .photo .person-img {
  width: 100%;
  height: 100%;
}

main .personal-container .person-one .personal-info {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  padding: 5px;
  width: 40em;
  height: 100%;
}

main .personal-container .person-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(212, 157, 62, 0.637);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 6px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  z-index: 1;
}

main .personal-container .person-two .photo {
  mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
  mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
  width: 40%;
}

main .personal-container .person-two .photo .person-img {
  width: 100%;
  height: 100%;
}

main .personal-container .person-two .personal-info {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  padding: 5px;
  width: 40em;
  height: 100%;
}

/* *************** MAIN ******************* */
main {
  background-color: white;
  border-width: 3px;
  border-color: rgba(235, 160, 32, 0.911);
  border-radius: 5px;
  border-style: solid;
  -webkit-box-shadow: 2px 1px rgba(199, 142, 44, 0.733);
          box-shadow: 2px 1px rgba(199, 142, 44, 0.733);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  height: 740px;
  margin: 0 5em 0 5em;
  /* TOGGLE COLOR MODE */
  /* PERSONAL JESUS */
  /* FOOTER */
  /* FITTIN' TO MOBILES */
}

main .personal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 50px;
  max-height: 100%;
  max-width: 100%;
  margin: 0 0 10% 0;
  margin: 10% 0 0 0;
}

main .personal-container .people {
  width: 45%;
  background-color: rgba(214, 163, 80, 0.747);
}

main .personal-container .personal-bar {
  font-weight: bold;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: auto;
}

main .personal-container .personal-bar {
  font-weight: bold;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: auto;
}

main .personal-container .logotype {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

main .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  border-style: groove;
  border-color: rgba(236, 156, 16, 0.986);
  bottom: 10px;
}

@media screen and (max-width: 768px) {
  main .personal-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .personal-container .people {
    width: 100%;
  }
}
/*# sourceMappingURL=App.css.map */