/* VARIABLES */
/* OBJECTS */
main .personal-container .person-one {
  background-color: #1b2b4b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 6px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

main .personal-container .person-one .photo {
  width: 40%;
  /* CHANGIN OTHER ELEMENT ON HOVER */
}

main .personal-container .person-one .photo .person-img {
  width: 100%;
  height: 100%;
}

main .personal-container .person-one .photo:hover ~ .personal-bar {
  background-image: linear-gradient(45deg, #7690e6, #c5cedd00);
  font-size: large;
  font-weight: bolder;
  text-shadow: 1px 1px;
}

main .personal-container .person-one .personal-info {
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  padding: 5px;
  background-color: #8ca5d6;
  width: 40em;
  height: 100%;
}

main .personal-container .person-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #394f7a;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 6px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 1;
}

main .personal-container .person-two .photo {
  width: 40%;
  /* CHANGIN OTHER ELEMENT ON HOVER */
}

main .personal-container .person-two .photo .person-img {
  width: 100%;
  height: 100%;
}

main .personal-container .person-two .photo:hover ~ .personal-bar {
  background-image: linear-gradient(45deg, #7690e6, #c5cedd00);
  font-size: large;
  font-weight: bolder;
  text-shadow: 1px 1px;
}

main .personal-container .person-two .personal-info {
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  padding: 5px;
  background-color: #8ca5d6;
  width: 40em;
  height: 100%;
}

/* ************************************* */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
            animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* *************** MAIN ******************* */
main {
  border-style: dotted;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  max-height: 100%;
  margin: 0 5em 0 5em;
  /* PERSONAL JESUS */
  /* FITTIN' TO MOBILES */
  /* FOOTER */
}

main .personal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-style: dotted;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 50px;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  margin: 0 0 10% 0;
  background-color: red;
  margin: 10% 0 0 0;
  background-color: #1f5cd6;
}

main .personal-container .people {
  background-color: #698f69;
}

main .personal-container .personal-bar {
  font-weight: bold;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: auto;
}

main .personal-container .personal-bar {
  font-weight: bold;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: auto;
}

main .personal-container .logotype {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

@media screen and (max-width: 768px) {
  main .personal-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-style: solid;
  border-color: #1f5cd6;
}
/*# sourceMappingURL=App.css.map */