/* VARIABLES */
/* OBJECTS */
main .personal-container .person-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 6px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

main .personal-container .person-one .photo {
  width: 40%;
}

main .personal-container .person-one .photo .person-img {
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
  -webkit-mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
          mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
          mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
  min-width: 120px;
  width: 100%;
  height: auto;
}

main .personal-container .person-one .personal-info {
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  padding: 5px;
  width: 40em;
  height: 100%;
}

main .personal-container .person-one .personal-info ul {
  width: 50%;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

main .personal-container .person-one .personal-info ul ol {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .personal-container .person-one .personal-info img {
  max-width: 16px;
  max-height: 16px;
}

main .personal-container .person-one .personal-info .stars {
  background-color: #fcfcfc;
}

main .personal-container .person-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 6px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 1;
}

main .personal-container .person-two .photo {
  width: 40%;
}

main .personal-container .person-two .photo .person-img {
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
  -webkit-mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
          mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
          mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
  min-width: 120px;
  width: 100%;
  height: auto;
}

main .personal-container .person-two .personal-info {
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  padding: 5px;
  width: 40em;
  height: 100%;
}

main .personal-container .person-two .personal-info ul {
  width: 50%;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

main .personal-container .person-two .personal-info ul ol {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .personal-container .person-two .personal-info img {
  max-width: 16px;
  max-height: 16px;
}

main .personal-container .person-two .personal-info .stars {
  background-color: #fcfcfc;
}

/* *************** MAIN ******************* */
main {
  position: relative;
  background-color: #fcfcfc;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  min-height: 50rem;
  margin: 0 5em 0 5em;
  /* COLOR MODE */
  /* PERSONAL JESUS */
  /* FOOTER */
  /* FITTIN' TO MOBILES */
}

main .logoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #5e2f10b7;
}

main .personal-container {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -ms-grid-columns: 45% 45%;
      grid-template-columns: 45% 45%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-height: 100%;
  width: 100%;
}

main .personal-container .personal-bar-one, main .personal-container .personal-bar-two {
  font-weight: bold;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: auto;
}

main .personal-container .personal-bar-one {
  margin: 0 0 1% 0;
  color: blue;
  text-align: end;
}

main .personal-container .personal-bar-one, main .personal-container .personal-bar-two {
  font-weight: bold;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: auto;
}

main .personal-container .personal-bar-two {
  margin: 1% 0 0 0;
}

main .personal-container .person-one-container {
  background-color: white;
  border-style: solid;
  border-color: #5e2f10b7;
  border-radius: 5px;
  -webkit-box-shadow: 3px;
          box-shadow: 3px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  margin-top: 50px;
  width: 100%;
}

main .personal-container .person-two-container {
  background-color: #5e2f10b7;
  border-radius: 5px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin-top: 50px;
  width: 100%;
}

main .footer {
  position: absolute;
  width: 100%;
  bottom: 10px;
}

@media screen and (max-width: 768px) {
  main .personal-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .personal-container .person {
    width: 100%;
  }
}
/*# sourceMappingURL=App.css.map */