/* VARIABLES */
  $info-color:#8ca5d6;
  $bar-color:linear-gradient(
    45deg
    , #7690e6, #c5cedd00 );

/* OBJECTS */
@mixin person-content($personCounter){
  flex: 1;
  padding: 6px;
  height: fit-content;
  @if $personCounter == two {
    z-index: 1;
  }

  .photo{
  .person-img{
  width: 100%;
  height: 100%;
  }
  width: 40%;
  /* CHANGIN OTHER ELEMENT ON HOVER */
  &:hover ~ .personal-bar{
    background-image: $bar-color;
    font-size: large;
    font-weight: bolder;
    text-shadow: 1px 1px;
  }
  }
  .personal-info{
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  padding: 5px;
  background-color: $info-color;
  width: 40em;
  height: 100%;
  }
}

%person-one{
  .person-one{
  background-color: #1b2b4b;
  display: flex;
  // margin: 0 0 10% 0;
  flex-direction: row-reverse;
  @include person-content(one);
}
}

%person-two{
  .person-two{
  display: flex;
  // margin: 10% 0 0 0;
  background-color: #394f7a;
  @include person-content(two);
}
}

@mixin personal-bar($personCounter) {

  @if $personCounter == one {
    margin: 0 0 10% 0;
    background-color: red;
  } @else if $personCounter == two {
    margin: 10% 0 0 0;
    background-color: #1f5cd6;
  }
  .personal-bar{
  font-weight: bold;
  flex-direction: row;
  width: 100%;
  height: auto;

  }
}




/* ************************************* */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* *************** MAIN ******************* */
main {
  border-style: dotted;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  margin: 0 5em 0 5em;

  /* PERSONAL JESUS */

  .personal-container{
    .people{
      background-color: rgb(105, 143, 105);
    }
    display: flex;
    border-style: dotted;
    flex: 1;
    box-sizing: border-box;
    margin-top: 50px;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    @extend %person-one;
    @include personal-bar(one);
    @include personal-bar(two);
    @extend %person-two;
    
    .logotype{
      width: 10%;
      display: flex;
      justify-self: center;
      justify-content: center;
      align-self: center;

    }

  }
  /* FITTIN' TO MOBILES */
  @media screen and (max-width: 768px){
    .personal-container{
      flex-direction: column;
    }
  }





  /* FOOTER */

  .footer{
    display: flex;
    border-style: solid;
    border-color: #1f5cd6;
  }






}

